@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=League+Spartan:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply hover:bg-primary-dark rounded-lg p-1;
  }
}

#root {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  text-align: center;
}

main {
  font-family: "Indie Flower", sans-serif;
}

.title {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
}
